@import '@/styles/tailwind.css';
@import '@/styles/fonts.css';
@import '@/styles/theme.css';
html,
body {
  height: 100%;
  overflow: hidden;
}
.cv-preview-readonly .group-hover\:opacity-100 {
  opacity: 0 !important;
}

.cv-preview-readonly button {
  display: none !important;
}

.cv-preview-readonly [data-cv-action] {
  display: none !important;
}

.cv-preview-modal [data-cv-action] {
  display: none !important;
}

.cv-preview-modal .group-hover\:opacity-100 {
  opacity: 0 !important;
}
